<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, ad! Numquam earum, placeat quasi voluptatibus perspiciatis omnis deleniti! Ex tenetur totam tempore facere, autem voluptatum aliquam doloribus fugiat eveniet a ad unde perferendis voluptate consectetur numquam nostrum. Cum, cumque. Harum.</p>
    </div>
</div>