<div class="jumbotron mt-4">
    <h1 class="display-4">Portal Badalona</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptas similique ducimus explicabo labore vitae, amet nisi libero laborum doloremque nobis necessitatibus ratione ab quis dolore aspernatur obcaecati? Illo, numquam.</p>
    <a href="https://www.google.com" class="btn btn-primary btn-lg">Portal Badalona</a>
</div>